* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #dc143c;
  background-image: linear-gradient(0deg, #dc143c00 0%, #333333 67%);
  
}

header {
  position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #333333bd;
	color: #fff;
	padding: 10px;
  z-index: 1;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  min-height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  float: right;
}

.nav-item {
  display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}

.title {
  margin: 0;
	float: left;
  font-size: 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-link {
  transition: 0.7s ease;
  display: block;
}

.nav-link:hover {
  color: #dc143c;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* homepage */

.image img {
  width: 400px;
  margin-top: 50px;
  border: 10px white solid;
  margin-right: 100px;
}

.homepage {
  padding-top:150px ;
}

.main {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  border-right: 10px solid crimson;
  padding-right: 200px;
}

.info h1 {
  color: crimson;
  font-size: 75px;
  text-align: left;
}

.info h2 {
  font-size: 60px;
  color: white;
}

.info span {
  font-size: 80px;
  color: crimson;
}

.borderBottom {
  border-top: 10px solid white;
  margin-top: 100px;
  margin-left: 250px;
  margin-right: 250px;
}

/* about me */

.aboutMe {
  padding-top: 130px;
}

.about-page {
  text-align: center;
}

.about-page h1 {
  padding-top: 40px;
  color: white;
  font-size: 50px;
  text-transform: uppercase;
}

.about-page p {
  font-size: 20px;
  text-align:justify;
  color: white;
  background-color: #3333334d;
  padding: 20px;
  margin-bottom: 40px;
  margin-top: 40px;

}

.line-about {
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  background-color: white;
  width: 100px;
  height: 5px;
}

.skill-card {
  display: flex;
  align-items: center;
  gap: 50px;
}


.skill img {
    padding-top: 40px;
    padding-bottom: 20px;
    height: 220px;
}


/* My Works */

.gallery {
  text-align: center;
  margin-bottom: 100px;
}

.gallery h1 {
  padding-top: 40px;
  color: white;
  font-size: 50px;
  text-transform: uppercase;
}

.col-md-4 img {
  height: 500px;
  border:10px solid rgba(255, 255, 255, 0.452);
}

.col-md-4 {
  padding: 10px;
}

.container-gallery {
  margin-top: 50px;
}

.col-md-4 {
  position: relative;
  display: inline-block;
}

.image-text {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #030303;
  font-size: 24px;
  text-align: center;
  background-color: rgba(220, 20, 60, 0.507);
  padding: 5px;
}



/* footer */

.footer-contents p {
  padding-top: 15px;
}


.footer-contents {
  background-color: #333;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}


/* widescreen */

@media (min-width: 1000px) {
  .about-page {
    margin-right: 200px;
    margin-left: 200px;
  }
}

/* mobile */

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .homepage {
    padding-top: 100px;
  }

  .main {
    display: block;
  }


  .nav-menu {
    display: flex;
    margin-top: 50px;
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #333333bd;
    z-index: 1;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .image img {
    width: 350px;
    margin-right: 0px;
  }

  .info {
    margin-top: 30px;
    border: none;
    width: 350px;
    padding-right: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
  }

  .skill-card {
    display: block;

  }

  .about-page {
    margin-right: 20px;
    margin-left: 20px;
  }

  .gallery {
    text-align: center;
  }

  .row > div {
    padding: 30px;
  }
}
