* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* slide page */

.page {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  transition: transform 0.5s ease-in-out;
  background-image: linear-gradient(0deg, #dc143c00 0%, #333333 67%);
}

body  {
  background-color: #dc143c;
}

header {
  position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #333333af;
	color: #fff;
  z-index: 999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0 20px;
  text-align: center;
  height: 90px;
}

.navbar-logo a {
  font-size: 30px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 200px;
}

.navbar-logo a:hover{
  color: #dc143c;
  transition: 0.3s ease;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: 0.7s ease;
  margin-right: 200px;
  z-index: 999;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links li a {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease;
  text-transform: uppercase;
}

.navbar-links li a:hover {
  color: #dc143c;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
  margin-right: 20px;
}

.navbar-toggle span {
  display: block;
  height: 3px;
  width: 25px;
  margin-bottom: 5px;
  position: relative;
  background-color: #fff;
}





/* homepage */

.image img {
  width: 400px;
  margin-top: 50px;
  border: 10px white solid;
  margin-right: 100px;
}

.homepage {
  padding-top:150px ;
}

.main {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  border-right: 10px solid crimson;
  padding-right: 200px;
}

.info h1 {
  color: crimson;
  font-size: 75px;
  text-align: left;
}

.info h2 {
  font-size: 60px;
  color: white;
}

.info span {
  font-size: 80px;
  color: crimson;
}

.borderBottom {
  border-top: 10px solid white;
  margin-top: 100px;
  margin-left: 250px;
  margin-right: 250px;
}

/* about me */

.aboutMe {
  padding-top: 130px;
}

.about-page {
  text-align: center;
}

.about-page h1 {
  padding-top: 40px;
  color: white;
  font-size: 50px;
  text-transform: uppercase;
}

.about-page p {
  font-size: 20px;
  text-align:justify;
  color: white;
  padding: 20px;
}

.aboutme {
  background: rgba(105, 105, 105, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  border: 1px solid rgba(105, 105, 105, 0.27);
}

.skill-card{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: calc(50% - 30px);

  background: rgba(105, 105, 105, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  border: 1px solid rgba(105, 105, 105, 0.27);
}

.skill_para {
  display: flex;
  flex-direction: column; 
}

.skill_para p {
  background:none;
}

.line-about {
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  background-color: white;
  width: 100px;
  height: 5px;
  margin-bottom: 50px;
}

.skill img {
    padding-top: 40px;
    padding-bottom: 20px;
    height: 220px;
}


/* My Works */

.gallery {
  text-align: center;
  margin-bottom: 100px;
  padding-top: 130px;
  
}

.gallery h1 {
  padding-top: 40px;
  color: white;
  font-size: 50px;
  text-transform: uppercase;
}

.col-md-4 img {
  max-width: 100%;
  height: 500px;
  border:10px solid rgba(255, 255, 255, 0.281);
}

.col-md-4 {
  padding: 10px;
}

.container-gallery {
  margin-top: 50px;
}

.col-md-4 {
  position: relative;
  display: inline-block;
}

.image-text {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #030303;
  text-decoration: underline;
  font-size: 24px;
  text-align: center;
}

.image-link {
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* view button */

.image-link button {
  --color: crimson;
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2em;
  line-height: 2em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 15px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
 }
 
 .image-link button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
 
 .image-link button:hover {
  color: #fff;
 }
 
 .image-link button:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 .image-link button:hover:before {
  top: -30px;
  left: -30px;
 }
 
 .image-link button:active:before {
  background: crimson;
  transition: background 0s;
 }


/* contact */

.page3 .contact-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
  margin-right: 300px;
}


.info-contact{
  color: white;
  font-size: 50px;
  text-align: center;
}

.address{
  padding-top: 40px;
}

.info-contact h1{
  font-size: 60px;
}

.address p{
  font-size: 25px;
  margin-bottom: 200px;
}

.address h3{
  padding-bottom: 5px;
  text-decoration: underline;
}


.border_top {
  border-top: 10px solid white;
  margin-top: 200px;
  margin-bottom: 100px;
  margin-left: 250px;
  margin-right: 250px;
}


/* footer */

.footer-contents p {
  padding-top: 15px;
}


.footer-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer_c {
  width: 1000px;
}

/* Back to top */

button {
  width: 140px;
  height: 46px;
  overflow: hidden;
  border: none;
  color: #fff;
  background: none;
  position: relative;
  padding-bottom: 2em;
}

button > div,button > svg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

button:before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  background: currentColor;
  transition: transform 0.25s ease-out;
}

button:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

button .clone > *,button .text > * {
  opacity: 1;
  font-size: 1rem;
  transition: 0.2s;
  margin-left: 4px;
}

button .clone > * {
  transform: translateY(60px);
}

button:hover .clone > * {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

button:hover .text > * {
  opacity: 1;
  transform: translateY(-60px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

button:hover .clone > :nth-child(1) {
  transition-delay: 0.15s;
}

button:hover .clone > :nth-child(2) {
  transition-delay: 0.2s;
}

button:hover .clone > :nth-child(3) {
  transition-delay: 0.25s;
}

button:hover .clone > :nth-child(4) {
  transition-delay: 0.3s;
}
/* icon style and hover */
button svg {
  width: 20px;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(-50deg);
  transition: 0.2s ease-out;
}

button:hover svg {
  transform: translateY(-50%) rotate(-90deg);
}


/* work 1*/

.container_work {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-container h1 {
  font-size: 48px;
  margin: 0 0 20px;
  color: #ffffff;
}
.text-container p {
  margin: 0 0 20px;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}
.work_image {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 20px;
  background: rgba(105, 105, 105, 0.089);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.247);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  border: 1px solid rgba(105, 105, 105, 0.27);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.img-container {
  flex: 1;
  margin-right: 40px;
}
.img-container img {
  max-width: 100%;
  display: block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.tools {
  margin-top: 50px;
  text-align: center;
  color: #999;
  font-size: 18px;
  font-style: italic;
}
.tools span {
  color: #ffffff;
  font-style: normal;
}

/* widescreen */

@media (min-width: 1000px) {
  .about-page {
    margin-right: 200px;
    margin-left: 200px;
  }

  .navbar {
    margin-left: 100px;
    margin-right: 100px;
  }

}

/* mobile */

@media (max-width: 768px) {

  .navbar-logo a {
    margin-left: 0;
  }

  .navbar {
    width: 100%;
    margin-right: auto;
  }

  .navbar-links {
    top: 90px;
    left: 100%;
    transition: 0.3s;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #333333af;
  }
  
  .navbar-toggle {
    display: block;
  }
  
  .navbar-toggle.active span:nth-child(2) {
    opacity: 0;
  }
  
  .navbar-toggle.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .navbar-toggle.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .navbar-links.active {
    left: 0;
  }
  
  .navbar-links li {
    margin: 16px;
  }

  .homepage {
    padding-top: 100px;
  }

  .main {
    display: block;
  }


  .image img {
    width: 350px;
    margin-right: 0px;
  }

  .info {
    margin-top: 30px;
    border: none;
    width: 350px;
    padding-right: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
  }

  .skill {
    width: calc(100%);
  }


  .skill-card {
    display: block;
  }

  .about-page {
    margin-right: 20px;
    margin-left: 20px;
  }

  .gallery {
    text-align: center;
  }

  .col-md-4 img {
    max-width: 100%;
    height: auto;
  }

  .row > div {
    padding: 30px;
  }

  .info-contact {
    margin-left: 0;
    text-align: left;
    margin-bottom: 50px;
  }


  .border_top {
    border-top: 10px solid white;
    margin-bottom: 100px;
    margin-top: 150px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .page3 .contact-container{
    margin-left: 20px;
    margin-right: 20px;
  }

  .backtotop {
    display: none;
  }

  .container_work {
    padding-top: 200px;
    margin-bottom: 200px;
  }

  .work_image{
    padding: 30px 20px;
		flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
  }

  .img-container {
    margin-right: 0;
    margin-bottom: 20px;
    width: 80%;
  }
  .text-container {
    width: 100%;
  }

}
